{{#if this.showChart}}

<div class="accordionContent" {{bind-attr data-indicator-id=model.id}}>
    {{#if model.subTitle}}
    <p class="marginTS small"><span class="bold">Full title: </span>{{model.title}}</p>
    {{/if}}
    {{#if model.valueUnitDescription}}
    <p class="marginTS small"><span class="bold">Units of measurement: </span>{{model.valueUnitDescription}}</p>
    {{/if}}
    {{#if model.ragTypeOfData}}
    <p class="marginTS small"><span class="bold">Collected: </span>{{model.ragTypeOfData}}</p>
    {{/if}}
    {{#if model.description}}
        <p class="bold marginTS small">Comments:</p>
        <p class="borderB marginTS paddingBS small">{{model.description}}</p>
    {{/if}}


    <!--<p class="bold marginTS small">Compare performance for Key indicator over time:</p>
    <p class="marginTS small"><span class="bold">X = </span>Change over time <span class="bold">Y = </span>{{ this.valueTypeString }} achieved</p>-->


    <div class="chart marginTL">
        {{#if model.currentValue}}
            {{chart-line-series data=indicator}}
        {{/if}}
    </div>
</div>

{{/if}}
