<div id="MainWrapper" class="boardReport">
    <section id="MainContent" class="reportIndex">
        <div class="row borderB paddingBL">
            <div class="col span_6">
                <h1>{{title}}</h1>
            </div>
            <div class="col span_2 marginLNone paddingTS paddingLNone">
                <!--Last updated 11/03/2015-->
                {{#drop-down-button title="Print Board Report"}}
                <li><a {{action 'prepareForPrint'}}>Print this page</a></li>
                <li><a {{action 'prepareForPrint'}}>Produce Report for Print</a></li>
                {{/drop-down-button}}
            </div>
            <div class="col span_1">&nbsp;</div>
                <div class="col span_3 marginLNone paddingTS marginRNone paddingLNone paddingRNone">
                    {{board-report-picker}}
                </div>
            </div>
        <div class="row marginTL">
            {{#each annex in data}}
            <div class="col span_4" {{bind-attr id="annex.id"}}>
                <h2 class="marginBS">{{annex.title}}</h2>
                <p>{{annex.subTitle}}</p>
                {{#each page in annex.pages}}
                <p>{{#link-to 'page' id annex.id page.id }}{{page.title}}{{/link-to}}</p>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </section>
</div>
