<div id="MainWrapper" class="boardReport">
    <section id="MainContent" class="reportIndex">
        <div class="row borderB paddingBL">
            <div class="col span_6">
                <h1>{{title}}</h1>
            </div>
            <div class="col span_3 smallText">
                Last updated 11/03/2015
            </div>
            <!--<div class="col span_3 button">
                Produce Report for Print
            </div>-->
            <div class="col span_3">&nbsp;</div>
        </div>
        <div class="row marginTL">
            {{#each annex in data}}
            <div class="col span_4" {{bind-attr id="annex.id"}}>
                <h2 class="marginBS">{{annex.title}}</h2>
                <p>{{annex.subTitle}}</p>
                {{#each page in annex.pages}}
                <p>{{#link-to 'page' annex.id page.id }}{{page.title}}{{/link-to}}</p>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </section>
</div>
