
    <div class="row marginTL" {{bind-attr data-indicator-id=id}}>
        <div class="col span_2 borderT borderB borderL radiusL noWrap">
            <span {{bind-attr class="showChart:accordionHandle:noAccordionHandle"}}>&nbsp;</span>
            {{periodOfCoverage}}
        </div>
        <div class="col span_7 borderL borderT borderB borderR ellipses">{{mainTitle}}</div>
        <div class="col span_1 insideMarginR borderT borderB borderR radiusR">
            <div class="currentValue">
                {{getRAGTarget}}{{#if getRAGTarget}}{{valueString}}{{else}}&nbsp;{{/if}}
            </div>
        </div>
        <div {{bind-attr title="valueUnitDescription"}} {{bind-attr class="ragColour :col :span_1 :radiusL :indicator"}}>
            <div class="currentValue">
                {{currentVal}}{{valueString}}
            </div>
        </div>
        <div {{bind-attr class="ragColour :col :span_1 :indicator :paddingLNone :radiusR_XL trend"}}>
            <div class="previousValue">{{previousVal}}{{valueString}}</div>
        </div>
    </div>


    {{indicator-row-chart model=this indicator=indicator}}

    