<div id="MainWrapper" class="boardReport">
    <section id="MainContent">
        {{#if subTitle}}
            <h2>{{subTitle}}</h2>
        {{/if}}

        <div class="finance">
            {{#if rows}}
                {{#each row in rows}}
                    {{#unless row.id}}
                        <!--ENDING GROUP-->
                        </div>
                        {{#unless row.isAppendicesRow}}
                            <div class="group">
                                {{/unless}}
                                <div class="row">
                                    <div class="col span_7 ">{{row.title}}</div>
                                    <div class="col span_1 alignC">{{row.col1}}</div>
                                    <div class="col span_1 alignC">{{row.col2}}</div>
                                    <div class="col span_1 alignC">{{row.col3}}</div>
                                    <div class="col span_1 alignC">{{row.col4}}</div>
                                    <div class="col span_1 alignC">&nbsp;</div>
                                </div>
                                {{else}}
                                <div class="row">
                                    <div class="col borderT span_7">{{row.title}}</div>
                                    <div class="col borderT span_1 alignC">{{row.col1}}</div>
                                    <div class="col borderT span_1 alignC">{{row.col2}}</div>
                                    <div class="col borderT span_1 alignC">{{row.col3}}</div>
                                    <div class="col borderT span_1 alignC insideMarginR">{{row.col4}}</div>
                                    <div class="col span_1 indicator amber even marginTXS marginBXS radiusR_XL">
                                        <div class="currentValue"><!--{{ragColour row.rag}}-->{{row.rag}}</div>
                                    </div>
                                </div>
                    {{/unless}}
                {{/each}}
            {{else}}
                <p>Sorry there isn't any data in this resource yet</p>
            {{/if}}




        </div>
    </section>



</div>
