<div id="MainWrapper" class="boardReport boardReportSummary">
    <section id="MainContent">
        {{page-subtitle-description description=description}}


        <div class="row columnTitles">
            <div class="col span_5 paddingLNone">
                <h4>Aspects of NHS constitution</h4>
            </div>
            <div class="col span_6 borderL">
                <h4>No. of indicators per RAG rating</h4>
            </div>
            <div class="col span_1 borderL">
                <h4>No trend</h4>
            </div>
        </div>

        <!--NHS ENGLAND-->
        <div class="row">
            <h2 class="col span_12 marginBNone">Performance Summary for NHS England</h2>
        </div>

        {{performance-summary-rag-titles}}

        {{#each indicator in nhsEnglandRAGTotals}}
        <div class="row borderT marginTL paddingBNone paddingBS chart">
            <div class="col span_4 alignL">{{indicator.title}}</div>
            <div class="col span_1 alignC borderL borderR relative">
                {{#if indicator.id}}
                    {{#link-to 'page' model.dashID 'annex_d' indicator.id }}View{{/link-to}}
                {{/if}}
            </div>
            <div class="col span_6 paddingTNone paddingRNone fpaddingBNone">
                <div class="blockRow blockRow5">

                    {{performance-summary-block color="red" current=indicator.previous.red previous=indicator.previous.red}}
                    {{performance-summary-block color="amberRed" current=indicator.previous.amberRed previous=indicator.previous.amberRed}}
                    {{performance-summary-block color="amber" current=indicator.previous.amber previous=indicator.previous.amber}}
                    {{performance-summary-block color="amberGreen" current=indicator.previous.amberGreen previous=indicator.previous.amberGreen}}
                    {{performance-summary-block color="green" current=indicator.previous.green previous=indicator.previous.green}}

                </div>
            </div>
            <div class="col span_1 borderL paddingRNone">
                <div class="blockRow blockRow1">
                    {{performance-summary-block color="blue" current=indicator.previous.missing previous=indicator.previous.missing}}
                </div>
            </div>
        </div>
        {{/each}}

        <!--NHS-->
        <div class="row marginTL borderT paddingTL">
            <h2 class="col span_11 marginBNone">Performance Summary for NHS</h2>
            <div class="col span_1 marginBNone relative">
                <!--<div class="seperator"></div>
                No Trend-->
                &nbsp;
            </div>
        </div>

        {{performance-summary-rag-titles}}

        <!--Dynamic Page indicators-->
        {{#each page in pages}}
        <div class="row borderT marginTL paddingBNone paddingBS chart">
            <div class="col span_4 alignL">{{page.title}}</div>
            <div class="col span_1 alignC borderL borderR relative">
                {{#link-to 'page' model.dashID page.parentID page.id }}View{{/link-to}}
            </div>
            <div class="col span_6 paddingTNone paddingRNone fpaddingBNone">
                <div class="blockRow blockRow5">
                    {{#each rag in page.ragStatusData}}
                        {{performance-summary-block color=rag.colour current=rag.count previous=rag.previous}}
                    {{/each}}
                </div>
            </div>
            <div class="col span_1 borderL paddingRNone">
                <div class="blockRow blockRow1">
                    {{performance-summary-block color="blue" current=page.noRAGStatus.count previous=page.noRAGStatus.previous}}
                </div>
            </div>
        </div>
        {{/each}}
        <!--end Dynamic Page Indicators-->
        <!--end NHS-->

        <!--NHS Total-->
        <div class="row borderT marginTL paddingBNone paddingBS chart">
            <div class="col span_4 alignL">NHS Total</div>
            <div class="col span_1 alignC borderL borderR relative">&nbsp;</div>
            <div class="col span_6 paddingTNone paddingRNone fpaddingBNone">
                <div class="blockRow blockRow5">
                    {{#each rag in pageragTotalsData}}
                        {{performance-summary-block color=rag.colour current=rag.count previous=rag.previous}}
                    {{/each}}
                </div>
            </div>
            <div class="col span_1 borderL paddingRNone">
                <div class="blockRow blockRow1">
                    {{performance-summary-block color="blue" current=noRAGTotal.count previous=noRAGTotal.previous}}
                </div>
            </div>
        </div>
        <!--end NHS Total-->
    </section>
</div>
