<div id="MainWrapper" class="boardReport">
    <section id="MainContent">
        <h2>{{SubTitle}}</h2>

        <div class="finance">
            {{#if rows}}
                {{#each row in rows}}
                    {{#unless row.ID}}
                        <!--ENDING GROUP-->
                        </div>
                        {{#unless row.isAppendicesRow}}
                            <div class="group">
                                {{/unless}}
                                <div class="row">
                                    <div class="col span_7 ">{{row.Title}}</div>
                                    <div class="col span_1 alignC">{{row.Col1}}</div>
                                    <div class="col span_1 alignC">{{row.Col2}}</div>
                                    <div class="col span_1 alignC">{{row.Col3}}</div>
                                    <div class="col span_1 alignC">{{row.Col4}}</div>
                                    <div class="col span_1 alignC">&nbsp;</div>
                                </div>
                                {{else}}
                                <div class="row">
                                    <div class="col borderT span_7">{{row.Title}}</div>
                                    <div class="col borderT span_1 alignC">{{row.Col1}}</div>
                                    <div class="col borderT span_1 alignC">{{row.Col2}}</div>
                                    <div class="col borderT span_1 alignC">{{row.Col3}}</div>
                                    <div class="col borderT span_1 alignC insideMarginR">{{row.Col4}}</div>
                                    <div class="col span_1 indicator amber even marginTXS marginBXS radiusR_XL">
                                        <div class="currentValue"><!--{{ragColour row.RAG}}-->{{row.RAG}}</div>
                                    </div>
                                </div>
                    {{/unless}}
                {{/each}}
            {{else}}
                <p>Sorry there isn't any data in this resource yet</p>
            {{/if}}




        </div>
    </section>



</div>
