<div id="MainWrapper" class="boardReport">

    <section id="MainContent">
        {{#if SubTitle}}
            <h2>{{SubTitle}}</h2>
        {{/if}}

        <div class="supplimentary businessArea">
            
            <h2>Performance against NHS England Business Plan Business Areas and Customer Contact</h2>
            
            <div class="row borderT borderB marginBL">
                <div class="col span_1 borderR">Bus Area</div>
                <div class="col span_4 borderR">Title</div>
                <div class="col span_2 borderR">Status & Trend</div>
                <div class="col span_5">Comment</div>
            </div>




            {{#if rows}}
            {{#each row in rows}}
            {{#unless row.Title}}
                <h2 class="marginBL marginTL">{{row.BusArea}}</h2>
                {{else}}
                <div class="row border radiusL radiusR marginBS" {{bind-attr data-indicator-id=row.BusArea}}>
                    <div class="col span_1 paddingLNone paddingRNone paddingTS paddingBS">
                        <div {{bind-attr class="row.Comment:accordionHandle :left :half :center :borderR :fullHeight"}} >&nbsp;</div>
                        <div class="left half center paddingTS">{{row.BusArea}}</div>
                    </div>
                    <div class="col span_4 borderL">{{row.Title}}</div>
                    <div class="col span_2 paddingNone">
                        <div {{bind-attr class="row.Trend row.RAGCode :block :radiusR_XL :indicator"}}>{{row.RAG}}</div>
                    </div>
                    <div class="col span_5 small paddingTL"><div class="summary">{{row.Comment}}</div></div>
                    <div class="clear"></div>
                    <div class="accordionContent paddingLL paddingTL paddingRL paddingBL" {{bind-attr data-indicator-id=row.BusArea}}>
                        <p class="bold marginTL">Comments:</p>
                        <p class="marginTL paddingBS small">{{row.Comment}}</p>
                    </div>
                </div>
                {{/unless}}
            {{/each}}
            {{else}}
                <p>Sorry there isn't any data in this resource yet</p>
            {{/if}}








        </div>
    </section>



</div>
