<div id="MainWrapper" class="boardReport">

    <section id="MainContent">
        {{page-subtitle-description subTitle=subTitle description=description}}

        <div class="supplimentary businessArea">
            <h2>Performance against NHS England Business Plan Business Areas and Customer Contact</h2>
            

            <div class="row borderT borderB marginBL dataRow">
                <div class="col span_1 borderR">Area</div>
                <div class="col span_4 borderR">Title</div>
                <div class="col span_2 borderR">Status & Trend</div>
                <div class="col span_5">Comment</div>
            </div>

            <div class="row key">
                <div class="col span_12 small alignL">
                    <div class="paddingLL">
                        R = Red &nbsp;
                        R = Amber Red &nbsp;
                        A = Amber &nbsp;
                        A/G = Amber Green &nbsp;
                        G=Green &nbsp;
                    </div>
                </div>
            </div>


            {{#if rows}}
            {{#each row in rows}}
            {{#unless row.title}}
                <h2 class="marginBL marginTL">{{row.busArea}}</h2>
                {{else}}
                    {{business-area-row row=row}}
                {{/unless}}
            {{/each}}
            {{else}}
                <p>Sorry there isn't any data in this resource yet</p>
            {{/if}}

        </div>
    </section>
</div>
