<div id="MainWrapper" class="boardReport boardReportSummary">
    <section id="MainContent">
        <!--<h2>{{subTitle}}</h2>-->




        <!--NHS ENGLAND-->
        <!--<div class="row marginTXL borderT borderB">
            <div class="col span_11 alignL bold">Performance Summary for NHS England</div>
            <div class="col span_1 relative">
                <div class="seperator"></div>
                No Trend
            </div>
        </div>-->

        <div class="row">
            <h2 class="col span_11 marginBNone">Performance Summary for NHS England</h2>
            <div class="col span_1 marginBNone relative">
                <div class="seperator"></div>
                No Trend
            </div>
        </div>
        {{#each indicator in nhsEnglandRAGTotals}}
        <div class="row borderT marginTL paddingBNone paddingBS chart">
            <div class="col span_4 alignL">{{indicator.title}}</div>
            <div class="col span_1 alignC borderL borderR relative">&nbsp;</div>
            <div class="col span_6 paddingTNone paddingRNone fpaddingBNone">
                <div class="blockRow blockRow5">

                    <div class="red block">
                        <div class="currentValue">{{indicator.current.red}}</div>
                        <div class="previousValue">{{indicator.previous.red}}</div>
                    </div>

                    <div class="redAmber block">
                        <div class="currentValue">{{indicator.current.amberRed}}</div>
                        <div class="previousValue">{{indicator.previous.amberRed}}</div>
                    </div>

                    <div class="amber block">
                        <div class="currentValue">{{indicator.current.amber}}</div>
                        <div class="previousValue">{{indicator.previous.amber}}</div>
                    </div>

                    <div class="amberGreen block">
                        <div class="currentValue">{{indicator.current.amberGreen}}</div>
                        <div class="previousValue">{{indicator.previous.amberGreen}}</div>
                    </div>

                    <div class="green block">
                        <div class="currentValue">{{indicator.current.Green}}</div>
                        <div class="previousValue">{{indicator.previous.Green}}</div>
                    </div>
                </div>
            </div>
            <div class="col span_1 borderL paddingRNone">
                <div class="blockRow blockRow1">
                    <div class="block blue">
                        <div class="currentValue">5</div>
                        <div class="previousValue">0</div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}















        <!--NHS-->
        <div class="row marginTL borderT paddingTL">
            <h2 class="col span_11 marginBNone">Performance Summary for NHS</h2>
            <div class="col span_1 marginBNone relative">
                <div class="seperator"></div>
                No Trend
            </div>
        </div>
        <!--<div class="row borderT borderB">
            <div class="col span_11 alignL bold">Performance Summary for NHS</div>
            <div class="col span_1 relative">
                <div class="seperator"></div>
                No Trend
            </div>
        </div>-->
        <!--Dynamic Page indicators-->
        {{#each page in pages}}
        <div class="row borderT marginTL paddingBNone paddingBS chart">
            <div class="col span_4 alignL">{{page.title}}</div>
            <div class="col span_1 alignC borderL borderR relative">
            <!--    {{#link-to 'page' 'annex_b' page.id }}View{{/link-to}}-->
            </div>
            <div class="col span_6 paddingTNone paddingRNone fpaddingBNone">
                <div class="blockRow blockRow5">

                    {{#each rag in page.ragStatus}}
                    <div {{bind-attr class="rag.colour :block"}}>
                        <div class="currentValue">{{rag.count}}</div>
                        <div class="previousValue">{{rag.previous}}</div>
                    </div>
                    {{/each}}

                </div>
            </div>
            <div class="col span_1 borderL paddingRNone">
                <div class="blockRow blockRow1">
                    <div class="block blue">
                        <div class="currentValue">5</div>
                        <div class="previousValue">0</div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <!--end Dynamic Page Indicators-->
        <!--end NHS-->

        <!--NHS Total-->
        <div class="row borderT marginTL paddingBNone paddingBS chart">
            <div class="col span_4 alignL">NHS Total</div>
            <div class="col span_1 alignC borderL borderR relative">&nbsp;</div>
            <div class="col span_6 paddingTNone paddingRNone fpaddingBNone">
                <div class="blockRow blockRow5">

                    {{#each rag in pageRAGTotals}}
                    <div {{bind-attr class="rag.colour :block"}}>
                        <div class="currentValue">{{rag.count}}</div>
                        <div class="previousValue">{{rag.previous}}</div>
                    </div>
                    {{/each}}

                </div>
            </div>
            <div class="col span_1 borderL paddingRNone">
                <div class="blockRow blockRow1">
                    <div class="block blue">
                        <div class="currentValue">5</div>
                        <div class="previousValue">0</div>
                    </div>
                </div>
            </div>
        </div>
        <!--end NHS Total-->
    </section>
</div>
