<div id="MainWrapper" class="boardReport">
    <header>
        <div class="row">
            <div class="col span_1 backLink">{{#link-to 'application' }}<img src="images/BackArrow@2x.png" />{{/link-to}}</div>
            <h1 class="col span_8">{{Title}}</h1>
            <div class="button col span_3">Product Report for Print</div>
            <!--<div class="button column two">Filter by</div>-->
        </div>
    </header>
    <section id="MainContent">
        <h2>{{SubTitle}}</h2>

        <div class="row borderT borderB">
            <div class="col span_11 alignL bold">Aspects of NHS constitution</div>
            <div class="col span_1 relative">
                <div class="seperator"></div>
                No Trend
            </div>
        </div>

        {{#each page in pages}}
        <div class="row borderT marginTL paddingBNone paddingBS chart">
            <div class="col span_4 alignL">{{page.Title}}</div>
            <div class="col span_1 alignC borderL borderR relative">
                {{#link-to 'page' 'annex_b' page.ID }}View{{/link-to}}
            </div>
            <div class="col span_6 paddingTNone paddingRNone fpaddingBNone">
                <div class="blockRow blockRow5">

                    {{#each rag in page.ragStatus}}
                        <div {{bind-attr class="rag.colour :block"}}>
                            <div class="currentValue">{{rag.count}}</div>
                            <div class="previousValue">{{rag.previous}}</div>
                        </div>
                    {{/each}}

                </div>
            </div>
            <div class="col span_1 borderL paddingRNone">
                <div class="blockRow blockRow1">
                    <div class="block blue">
                        <div class="currentValue">5</div>
                        <div class="previousValue">0</div>
                    </div>
                </div>
            </div>
        </div>



        {{/each}}


        <!--<div class="row borderT marginTL paddingBNone paddingBS chart">
            <div class="col span_4 alignL">NHS Constitution</div>
            <div class="col span_1 alignC borderL borderR relative">
                {{#link-to 'page' 'annex_b' 'page_1' }}{{page.Title}}View{{/link-to}}
            </div>
            <div class="col span_6 paddingTNone paddingRNone fpaddingBNone">
                <div class="blockRow blockRow5">
                    <div class="block red">
                        <div class="currentValue">2</div>
                        <div class="previousValue">-1</div>
                    </div>
                    <div class="block missing">
                        <div class="previousValue">N/A</div>
                    </div>
                    <div class="block amber">
                        <div class="currentValue">5</div>
                        <div class="previousValue">-1</div>
                    </div>
                    <div class="block missing">
                        <div class="previousValue">N/A</div>
                    </div>
                    <div class="block green">
                        <div class="currentValue">5</div>
                        <div class="previousValue">-1</div>
                    </div>
                </div>
            </div>
            <div class="col span_1 borderL paddingRNone">
                <div class="blockRow blockRow1">
                    <div class="block blue">
                        <div class="currentValue">5</div>
                        <div class="previousValue">0</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row borderT marginTS paddingBNone paddingBS chart">
            <div class="col span_4 alignL">NHS Experience</div>
            <div class="col span_1 borderL borderR alignC">
                {{#link-to 'page' 'annex_b' 'page_2' }}{{page.Title}}View{{/link-to}}
            </div>
            <div class="col span_6 paddingTNone paddingRNone paddingBNone">
                <div class="blockRow blockRow5">
                    <div class="block red">
                        <div class="currentValue">2</div>
                        <div class="previousValue">-1</div>
                    </div>
                    <div class="block missing">
                        <div class="previousValue">N/A</div>
                    </div>
                    <div class="block amber">
                        <div class="currentValue">5</div>
                        <div class="previousValue">-1</div>
                    </div>
                    <div class="block missing">
                        <div class="previousValue">N/A</div>
                    </div>
                    <div class="block green">
                        <div class="currentValue">5</div>
                        <div class="previousValue">-1</div>
                    </div>
                </div>
            </div>
            <div class="col span_1 borderL paddingRNone">
                <div class="blockRow blockRow1">
                    <div class="block blue">
                        <div class="currentValue">5</div>
                        <div class="previousValue">0</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row borderT marginTS paddingBNone paddingBS chart">
            <div class="col span_4 alignL">NHS Outcomes</div>
            <div class="col span_1 borderL borderR alignC">
                {{#link-to 'page' 'annex_b' 'page_3' }}{{page.Title}}View{{/link-to}}
            </div>
            <div class="col span_6 paddingTNone paddingRNone fpaddingBNone">
                <div class="blockRow blockRow5">
                    <div class="block red">
                        <div class="currentValue">2</div>
                        <div class="previousValue">-1</div>
                    </div>
                    <div class="block missing">
                        <div class="previousValue">N/A</div>
                    </div>
                    <div class="block amber">
                        <div class="currentValue">5</div>
                        <div class="previousValue">-1</div>
                    </div>
                    <div class="block missing">
                        <div class="previousValue">N/A</div>
                    </div>
                    <div class="block green">
                        <div class="currentValue">5</div>
                        <div class="previousValue">-1</div>
                    </div>
                </div>
            </div>
            <div class="col span_1 borderL paddingRNone">
                <div class="blockRow blockRow1">
                    <div class="block blue">
                        <div class="currentValue">5</div>
                        <div class="previousValue">0</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row borderT marginTS paddingBNone paddingBS chart">
            <div class="col span_4 alignL">NHS Inequalities</div>
            <div class="col span_1 borderL borderR alignC">
                {{#link-to 'page' 'annex_b' 'page_4' }}{{page.Title}}View{{/link-to}}
            </div>
            <div class="col span_6 alignC">
                <p>Information not available</p>
            </div>
            <div class="col span_1 borderL">
                &nbsp;
            </div>
        </div>

        <div class="row borderT borderB marginTS paddingBS  chart">
            <div class="col span_4 alignL">NHS Others</div>
            <div class="col span_1 borderL borderR alignC">
                {{#link-to 'page' 'annex_b' 'page_5' }}{{page.Title}}View{{/link-to}}
            </div>
            <div class="col span_6 paddingTNone paddingRNone fpaddingBNone">
                <div class="blockRow blockRow5">
                    <div class="block red">
                        <div class="currentValue">2</div>
                        <div class="previousValue">-1</div>
                    </div>
                    <div class="block missing">
                        <div class="previousValue">N/A</div>
                    </div>
                    <div class="block amber">
                        <div class="currentValue">5</div>
                        <div class="previousValue">-1</div>
                    </div>
                    <div class="block missing">
                        <div class="previousValue">N/A</div>
                    </div>
                    <div class="block green">
                        <div class="currentValue">5</div>
                        <div class="previousValue">-1</div>
                    </div>
                </div>
            </div>
            <div class="col span_1 borderL paddingRNone">
                <div class="blockRow blockRow1">
                    <div class="block blue">
                        <div class="currentValue">5</div>
                        <div class="previousValue">0</div>
                    </div>
                </div>
            </div>
        </div>-->










        <!--<h2 class="marginTXL">Performance summary for nhs england - november 2014</h2>


        <div class="row borderT marginTL paddingTS paddingBS chart">
            <div class="col span_4 alignL">Experience (patient & staff)</div>
            <div class="col span_1 alignC relative">
                <div class="seperator"></div>
                <a href="">View</a>
                <div class="seperator right"></div>
            </div>
            <div class="col span_6 paddingTNone paddingRNone fpaddingBNone">
                <div class="blockRow blockRow5">
                    <div class="block red">
                        <div class="currentValue">2</div>
                        <div class="previousValue">-1</div>
                    </div>
                    <div class="block redAmber">
                        <div class="currentValue">4</div>
                        <div class="previousValue">-3</div>
                    </div>
                    <div class="block amber">
                        <div class="currentValue">5</div>
                        <div class="previousValue">-1</div>
                    </div>
                    <div class="block amberGreen">
                        <div class="currentValue">8</div>
                        <div class="previousValue">-4</div>
                    </div>
                    <div class="block green">
                        <div class="currentValue">5</div>
                        <div class="previousValue">-1</div>
                    </div>
                </div>
            </div>
            <div class="col span_1 borderL paddingRNone">
                <div class="blockRow blockRow1">
                    <div class="block blue">
                        <div class="currentValue">5</div>
                        <div class="previousValue">0</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row borderT marginTL paddingTS paddingBS chart">
            <div class="col span_4 alignL">Experience (patient & staff)</div>
            <div class="col span_1 alignC relative">
                <div class="seperator"></div>
                <a href="">View</a>
                <div class="seperator right"></div>
            </div>
            <div class="col span_6 paddingTNone paddingRNone fpaddingBNone">
                <div class="blockRow blockRow5">
                    <div class="block red">
                        <div class="currentValue">2</div>
                        <div class="previousValue">-1</div>
                    </div>
                    <div class="block redAmber">
                        <div class="currentValue">4</div>
                        <div class="previousValue">-3</div>
                    </div>
                    <div class="block amber">
                        <div class="currentValue">5</div>
                        <div class="previousValue">-1</div>
                    </div>
                    <div class="block amberGreen">
                        <div class="currentValue">8</div>
                        <div class="previousValue">-4</div>
                    </div>
                    <div class="block green">
                        <div class="currentValue">5</div>
                        <div class="previousValue">-1</div>
                    </div>
                </div>
            </div>
            <div class="col span_1 borderL paddingRNone">
                <div class="blockRow blockRow1">
                    <div class="block blue">
                        <div class="currentValue">5</div>
                        <div class="previousValue">0</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row borderT marginTL paddingTS paddingBS chart">
            <div class="col span_4 alignL">Experience (patient & staff)</div>
            <div class="col span_1 alignC relative">
                <div class="seperator"></div>
                <a href="">View</a>
                <div class="seperator right"></div>
            </div>
            <div class="col span_6 paddingTNone paddingRNone fpaddingBNone">
                <div class="blockRow blockRow5">
                    <div class="block red">
                        <div class="currentValue">2</div>
                        <div class="previousValue">-1</div>
                    </div>
                    <div class="block redAmber">
                        <div class="currentValue">4</div>
                        <div class="previousValue">-3</div>
                    </div>
                    <div class="block amber">
                        <div class="currentValue">5</div>
                        <div class="previousValue">-1</div>
                    </div>
                    <div class="block amberGreen">
                        <div class="currentValue">8</div>
                        <div class="previousValue">-4</div>
                    </div>
                    <div class="block green">
                        <div class="currentValue">5</div>
                        <div class="previousValue">-1</div>
                    </div>
                </div>
            </div>
            <div class="col span_1 borderL paddingRNone">
                <div class="blockRow blockRow1">
                    <div class="block blue">
                        <div class="currentValue">5</div>
                        <div class="previousValue">0</div>
                    </div>
                </div>
            </div>
        </div>-->
    </section>



</div>
